.jumbotron{
	height: 500px;
}

.vertical ul {
  list-style: none;
  position: relative;
  padding: 1px 100px;
  color: black;
  font-size: 13px;
}

.vertical ul li {
  position: relative;
  margin-left: 20px;
  padding: 30px;
}

.vertical ul li > span {
  width: 5px;
  height: 100%;
  background: skyblue;
  left: -30px;
  top: 0;
  position: absolute;
}
.vertical ul li > span:before, .vertical ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 6px solid skyblue;
  position: absolute;
  left: -5px;
  top: 0;
}

.vertical div .title {
  font-weight: 600;
  font-size: 20px;
}
.vertical span.list {
  height: 100%;
   top: 0;
}
.vertical span.list span {
   position: absolute;
   font-size: 15px;
   left: -35px;
   font-weight: bold;
}

